nav {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-around;
	height: 60px;
	align-items: center;
}

footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-around;
	height: 100px;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.form_container {
	width: 500px;
	width: 600px;
	margin: auto;
	background-color: aliceblue;
	padding: 50px;
}

.input_div {
	margin: 0.75rem 0;
}

input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 0.5rem 0;
}